Django==1.7
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.18
google-api-python-client==1.2
html5lib==0.999
httplib2==0.9
oauthlib==0.6.1
psycopg2==2.5.4
pyOpenSSL==0.13
redis==2.10.3
requests==2.2.1
urllib3==1.7.1

