{% extends "base.html" %}{% block title %} - Platter{% endblock %}{% block content %}<p><a href="{{ url_for("index") }}">home</a></p><pre>Come learn about you + Airbnb!

Information Session and Tech Talk with Lu Cheng, Airbnb Engineer for the 
Discovery Team + Cal alum

Lu Cheng recently graduated from UC Berkeley last December with a B.S. in 
EECS and has been a software engineer on the Airbnb Search & Discovery team 
since February 2014. Since starting at Airbnb, Lu has been focusing on 
personalized recommendations and building models to understand unique 
characteristics of locations.

Come to our tech talk to learn how we have set ourselves up for succeed in 
search & discovery at Airbnb. We'll talk about the novel search challenges 
we've solved and what's coming up in the world of travel discovery.

October 15, 5:45 pm
Wozniak Lounge 
430/438 Soda Hall

Food will be provided and we'll be raffling off Airbnb travel coupons!</pre>{% endblock %}