{% extends "base.html" %}{% block title %} - Platter{% endblock %}{% block content %}<p><a href="{{ url_for("index") }}">home</a></p><pre>Hi!

One more related event. Tuesday at noon at BiD (where we had our first
meeting).


Mitar

-------- Forwarded Message --------
From: Cesar Torres <cearto@berkeley.edu>
Subject: [eecs-announce] (10/21) BiD Seminar | Paul Zachary on "Covered
Up: An Experiment on Censorship, Crowdsourcing, and Religion in Saudi
Arabia"
To: bid-lab@lists.berkeley.edu <bid-lab@lists.berkeley.edu>,
EECS-announce@lists.eecs.berkeley.edu

Please join us this Tuesday for the next installment of the Fall 2014
Berkeley
Institute of Design <http://schedule.bid-seminar.com/speakers/4> Weekly ,
featuring Paul Zachary from UCSD.

10/21/2014, 12pm - 1pm
Berkeley Institute of Design (BiD) Lab 354/360 HMMB
http://bid.berkeley.edu/directions
BiD lunch seminars are sponsored by Yahoo!

For those of you who can't, we're planning to continue archiving our talks
on our YouTube channel, which you can find here :
http://www.youtube.com/bidlab


Don't know where BiD is? No problem: Directions
<http://bid.berkeley.edu/directions/>
----Covered Up: An Experiment on Censorship, Crowdsourcing, and Religion in
Saudi ArabiaPaul ZacharyTuesday 12pm, 21 October 2014*PhD Student - UC San
Diego*

*Abstract:*

What do authoritarian governments censor online? Answering this question
provides unique insight into dictators' preferences, perceptions of threat,
and strategies to remain in office. We identify two dominant themes in
prior literature: state critique and collective action potential. While
prior research on China convincingly shows that censors ignore critique of
the state and block collective action, there are doubts about how those
findings generalize. In this paper, we conduct one of the first
investigations on censorship outside of China. We draw evidence from a
massive set of scraped text and experiments in Saudi Arabia. Unlike China,
we show that Saudis censor religious content and ignore political and
mobilization topics. This provides evidence that authoritarian regimes
tailor their censorship regimes to their particular needs.

*Bio*

Paul Zachary is a PhD student in political science at the University of
California, San Diego. His research interests include applied statistics,
machine learning, and causal inference and experimental political science.
In particular, he is interested in using the Internet as a means to study
behavior and revealed preferences. As a member of the National Science
Foundation-funded Center for Evidence-Based Security Research, he is
currently working on several projects related to Internet censorship. In
particular, he focuses on using experiments to understand how and why
governments censor online speech.
--


-- 
http://mitar.tnode.com/
https://twitter.com/mitar_m



</pre>{% endblock %}