{% extends "base.html" %}{% block title %} - Platter{% endblock %}{% block content %}<p><a href="{{ url_for("index") }}">home</a></p><pre>Be a part of the in cloud!
Join us for an information session.

Hiring innovators!
Workday is positively disrupting the enterprise software space as a leader 
in cloud technology. Meet our team and learn about Generation Workday, a 
program uniquely designed to help you launch your career into the cloud.

Thursday, October 16th
5:30 - 7:00 pm
Wozniak Lounge
Free food and drinks</pre>{% endblock %}