{% extends "base.html" %}{% block title %} - Platter{% endblock %}{% block content %}<p><a href="{{ url_for("index") }}">home</a></p><pre>*DHSI Free Tuition Application Extended to 10/31*

Free tuition for the Digital Humanities Summer Institute in Victoria, BC
has been extended to October 31. All faculty, graduate students, and
academic staff in the College of Letters and Sciences are eligible to
apply, but preference will be given to applicants from the Division of Arts
& Humanities. To apply, please email digitalhumanities@berkeley.edu a copy
of your CV and a statement (one page or less) indicating what course you
would like to take, why, and how you anticipate incorporating the skills
developed at DHSI into your teaching and/or research. See DH @ Berkeley for
more information about applying <http://digitalhumanities.berkeley.edu/dhsi>,
advice
<http://digitalhumanities.berkeley.edu/blog/14/10/13/what-i-did-last-summer-digital-humanities-summer-institute-2014-attendees-report-back>
on selecting a course, and some opinions from last year’s cohort
<http://digitalhumanities.berkeley.edu/blog/14/10/13/what-i-did-last-summer-digital-humanities-summer-institute-2014-attendees-report-back>.

Highlights:

*BDHWG Hacking Day*
October 20 | 1 - 2pm | D-Lab Collaboratory (356 Barrows)
Same time, same place. Hacking days are “peer office-hours”: a casual
setting where you can work on tutorials, troubleshoot your tools, or
discuss methodology with us.

*Upcoming BDHWG Meeting: Stuart Dunn (King’s College London),”Points,
lines, cells, polygons: What does “data” mean to a humanist?”*
October 27 | 1 - 2pm | D-Lab Convening Room (356 Barrows) | Lunch will be
provided (please RSVP)

Stuart Dunn is a Lecturer in Digital Humanities at King’s College London.
He is archaeologist with wide ranging interests in digital methods and
spatial humanities. His current projects include spatial narrative theory,
Cypriot cultural heritage and the archaeology of movement. Stuart gained a
highly interdisciplinary PhD on Aegean Bronze Age chronology from the
University of Durham in 2002, conducting fieldwork and research visits in
Melos, Crete and Santorini. Having developed research interests in GIS, he
subsequently became a Research Assistant on the AHRC’s ICT in Arts and
Humanities Research Programme, and in 2006, moved to King’s to become a
Research Associate at the Arts and Humanities e-Science Support Centre,
after which he became a Lecturer. Stuart leads numerous projects in the
area of visualisation, GIS and digital humanities. You can find his blog at
http://www.stuartdunn.wordpress.com.

*Conference: Image as Location (hosted by the Berkeley Center for New Media
<http://bcnm.berkeley.edu>) *
October 22 | 9 - 5 PM | Sutardja Dai Hall | Register
<http://imageaslocation.com/conference/>
The Image as Location conference brings together the artists,
technologists, and theorists at the heart of our Bay area festival to
discuss how images define our understanding of our environment, by allowing
us to access the inaccessible. Beginning at the microscopic scale and
moving through our human dimensions into planetary orbits, we will discover
what it means to wrap our view of the world in visual artifacts from
cultural, philosophical, creative and policy perspectives.

*Info Session: Student Mentoring and Research Teams (SMART)*
October 22 | 12 - 1:30pm | 110 Barrows | RSVP
<https://berkeley.wufoo.com/forms/2015-smart-graduate-informational-meeting-oct/>
Need some help with your research this summer? The SMART program
<http://digitalhumanities.berkeley.edu/resources/student-mentoring-and-research-teams-smart-graduates-and-undergraduates>
pairs undergraduate students with graduate student mentors during the
summer. Stipends and research funds are provided for both undergraduate and
graduate students. Graduate student applications and project proposals are
due November 24th. Undergraduate applications will open in February.

*Conference: Queerness and Games **(hosted by the Berkeley Center for New
Media <http://bcnm.berkeley.edu>)*
October 24 - 26 | RSVP <http://www.qgcon.com/>
QGCon brings together academics and game developers to foster dialogues
that break traditional disciplinary boundaries and discuss the intersection
of video games and LGBTQ issues, however you define them. The theme for
this year’s QGcon is *Difference at Play*. Some questions inspired by the
theme might include: What does it mean to play differently? What does it
mean to play at difference itself? In what way can “difference” speaks to
questions of race, gender, and sexuality for games and those who play them?
More Events:

10/27 - Lecture: Ticks, Dots, and Doodles: Bibliographic Insights into the
Tibetan Manuscripts from Dunhuang
<http://events.berkeley.edu/index.php/calendar/sn/dh.html?event_ID=81491&date=2014-10-27&filter=Event%20Type&filtersel=>
11/17 - BDHWG Meeting: Scott McGinnis <http://majining.com/> on XML and Its
Uses
Training:

   - Useful Stuff in R (intermediate)
   <http://dlab.berkeley.edu/training/useful-stuff-r-intermediate>
   Wednesday, October 22 - 2:00 PM to 4:00 PM
   - R for Beginners <http://dlab.berkeley.edu/training/r-beginners-1>
   Friday, October 24 - 10am - 12 PM
   - Intro to Data Visualization in
   ArcGIS
   <http://dlab.berkeley.edu/training/intro-data-visualization-arcgis-0>
   Wednesday, October 29 - 3:00 PM to 5:00 PM
   - Georeferencing with ArcMap
   <http://dlab.berkeley.edu/training/georeferencing-arcmap>
   Wednesday, November 5 - 1:00 PM to 3:00 PM
   - R for Beginners <http://dlab.berkeley.edu/training/r-beginners-0>
   Friday, November 7 - 10:00 AM to 12:00 PM
   - Introduction to Online Demographic Mapping Tools
   <http://dlab.berkeley.edu/training/introduction-online-demographic-mapping-tools>
   Mon, November 17 - 10:00 AM to 11:30 AM
   - Intro to Web Scraping
   <http://dlab.berkeley.edu/training/intro-web-scraping>
   Thu, November 20 - 2:00 PM to 3:00 PM

​

Cheers,

Cindy and Camille
</pre>{% endblock %}