{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

    <h3> Events </h3>
    {% for event in ziplist %}
 


        <p><table border="1">
  			<tr>
    			
    			<td>&nbsp;&nbsp;{{event[1]}}&nbsp;&nbsp;</td> 
    			<td>&nbsp;&nbsp;<a href="/platter/{{event[0]}}" +  {{event[0]}} >{{event[0]}}</a>&nbsp;&nbsp;</td>
    			<td> &nbsp;&nbsp;{{event[3]}}&nbsp;&nbsp;</td>
    			<td> &nbsp;&nbsp;{{event[2]}} Provided &nbsp;</td>
  			</tr>
		</table></p>

    {% endfor %}


{% endblock %}